.loader {
    width: 50px;
    height: 50px;
    margin: 50px auto 0;
    border-radius: 50%;
    border: 3px dashed var(--main-color);
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to{
        transform: rotate(360deg) scale(1.2);
    }
}