.btn {
    font-size: 16px;
    cursor: pointer;
    padding: 5px 15px;
    margin: 0 2px;
    transition: all .3s;
    background: transparent;
    color: var(--main-color);
    background-color: #ffffff;
    border:1px solid var(--main-color);
}
.btn:hover {
    background-color: var(--main-color);
    color: #ffffff;
}